header {
    min-height: 44px;
    background-color: #fff;
    height: 44px;
    font-size: 15px;
    font-weight: 500;
    background-size: 44px 44px;
    border-bottom: 1px solid rgba(0,0,0,.22);
    padding: 0 20px 0 20px;
    .header-content {
        width: 1100px;
        margin: 0 auto;
    }
    .logo-link {
        float: left;
        font-size: 2em;
        font-weight: bold;
    }
    
    .nav {
        left: 80px;
        margin-left: 10em
    }

    .logo-link img {
        height: 1.5em;
    }

    .nav-list-item {
        display: inline-block;
        padding: 1px  10px ;
        a {
            font-size: 16px;
            line-height: 1.4;
        }
    }
}
